*{box-sizing: border-box;}

.is-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
img {
  display: block;
  max-width: 100%;
  border: 1px solid black;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:aquamarine;
  cursor: pointer;
  height: 36px;
  width: 120px;
  border-radius: 5px;
}

button:hover,
button:focus {
  background-color: rgb(129, 244, 129);
}
.search-form {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 24px 24px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}
input{
  height: 36px;
  width: 320px;
  border-radius: 5px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;  
  justify-content: center;
  gap: 30px;
}
.photo-card{
  padding: 20px 20px;
}
.gallery_link{
  display: block;
}
.load-more{
  margin: 30px auto;
  background-color:aquamarine;
}
